/*               index                */
.bodyindex{
  background-color: #f8f1f1;
  margin: 0px
}

.me1{
  position: absolute;
  height: 800px;
  width: 800px;
  margin: 50px 0px 50px 50px;
  border-radius: 20px;
  border-style: solid;
}
.welcome{
  position: absolute;
  font-size: 60px;
  top: 150px;
  left: 1000px;
  font-style: italic;
}
.click_here{
  position: absolute;
  top: 350px;
  left: 1200px;
  width: 150px;
  height: 150px;

}


.buttonstart1{
  font-size: 40px;
  position: absolute;
  top: 500px;
  left: 1160px;
}

.buttonstart2{
  width: 200px;
  height: 100px;
}

/*             mainmenu            */


.contact{
  position: fixed;
  left: 1500px;
  bottom: 100px;
  
}
.all_logo{
  background-color: inherit;
  position: relative;
  width: 70px;
  height: 70px;
  margin-top: 0px;
  margin-left: 20px;
}
