 /*               index                */
body{
  margin: 0px;
}
.TH_EN{
  color: white;
  position: fixed;
  top: 0px;
  right: 20px;
  font-size: 20px;
}
.first_picture{
  display: block;
  margin: 50px auto 0px auto;
  border-radius: 50%;
  width: 27vw;
  height: 25vw;
}
.first_text{
  margin: 10px 10px;
  color: white;
  text-align: center;
  font-size: 3vw;
}

.click_next{
  background-color: white;
  margin: 10px auto 0px auto;
  display: block;
  height: 80px;
  border-radius: 80px;
}

/*             all setting        */



/******************** mainmenu **********************/

.box1_main{
  margin: 12vw auto 12vw auto;
  width: 50%;
  height: 25vw;
  display: flex;
}
.box1_1_main{
  width: 100%;
  border-radius: 50%;
}
.box1_text{
  font-size: 2vw;
  padding: 20px;
  width: 70%;

}
.border_all{
  border-top-color: black;
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 20px;
  width: 30%;
  display: block;
  margin: auto;
}
.box2_main{
  margin: 12vw auto 25vw 8vw;
  width: 90%;
  height: 25vw;
  display: flex;
}
.box2_text1{
  border-style: dashed;
  font-size: 2vw;
  background-color: none;
  width: 29%;
  height: 37vw;
  margin: 10px;
  border-radius: 10px;

  padding: 0px 15px 0px 15px;
}
.box2_text2{
  border-style: dashed;
  font-size: 2vw;
  background-color: none;
  width: 29%;
  height: 37vw;
  margin: 10px;
  border-radius: 10px;

  padding: 0px 15px 0px 15px;
}
.box2_text3{
  border-style: dashed;
  font-size: 2vw;
  background-color: none;
  width: 29%;
  height: 37vw;
  margin: 10px;
  border-radius: 10px;
  padding: 0px 15px 0px 15px;
}
.box3_main{
  margin: 7vw auto 18vw auto;
  width: 90%;
  height: 25vw;
}
.slide{
  margin: auto;
  width: 35%;
}

.box4_main{
  margin: 12vw auto 12vw auto;
  width: 90%;
  height: 25vw;
  display: flex;
}

/* contact.html */


/*     skill.html       */
.htmlcssjs{
  width: 100%;
  height: 50vw;
}
.htmlcssjs_picture{
  width: 90%;
  height: 60%;
  margin: 5vw auto auto auto;
  display: flex;
}
.htmlcssjs_picture_wh{
  width: 33.3%;
  display: flex;
}
.python{
  background-color: #28527a;
  width: 100%;
  height: 50vw;
}
.python_center{
  height: 40%;
  width: 90%;
  display: flex;
  margin: auto;
}
.python_logo{
  margin-top: 15vw;
  height: 100%;
  width: 70%;
}
.python_text{
  font-size: 1.7vw;
  border-radius: 5px;
  margin-top: 15vw;
  background-color: white;
  height: 30vw;
  width: 100%;
  padding: 5vw;
}
.C{
  width: 100%;
  height: 50vw;
  background-color: black;
}
.C_picture{
  width: 90%;
  height: 90%;
}
.C_text{
  width: 50%;
  height: 30vw;
  color: yellow;
  margin-top: 10vw;
  font-size: 1.5vw;
}
.C_center{
  width: 80%;
  margin: auto;
  display: flex;
}
.C_picture_main{
  margin-top: 10vw;
  width: 40%;
}
