 /*               index                */
body{
  margin: 0px;
}
.TH_EN{
  color: white;
  position: fixed;
  top: 0px;
  right: 20px;
  font-size: 20px;
}
.first_picture{
  display: block;
  margin: 50px auto 0px auto;
  border-radius: 50%;
  width: 27vw;
  height: 25vw;
}
.first_text{
  margin: 10px 10px;
  color: white;
  text-align: center;
  font-size: 3vw;
}

.click_next{
  background-color: white;
  margin: 10px auto 0px auto;
  display: block;
  height: 80px;
  border-radius: 80px;
}

/*             all setting        */
.bar_top{
  position: fixed;
  border-style: solid;
  top: 0px;
  width: 100%;
  height: 5vw;
  border-radius: 0px 0px 10px 10px;
}
.menu_tab{
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto auto 5px ;
  height: 80%;
  width: 10%;
  font-size: 1.5vw;
}
.menu_tab:hover{
  background-color: gray;
}

/******************** mainmenu **********************/

.box1_main{
  margin: 12vw auto 12vw auto;
  width: 50%;
  height: 25vw;
  display: flex;
}
.box1_1_main{
  width: 100%;
  border-radius: 50%;
}
.box1_text{
  font-size: 2vw;
  padding: 20px;
  width: 70%;

}
.border_all{
  border_caret-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 20px;
  width: 20%;
}
.box2_main{
  margin: 12vw auto 25vw auto;
  width: 90%;
  height: 25vw;
  display: flex;
}
.box2_text1{
  font-size: 2vw;
  background-color: gray;
  width: 29%;
  height: 37vw;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}
.box2_text2{
  font-size: 2vw;
  background-color: gray;
  width: 29%;
  height: 37vw;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}
.box2_text3{
  font-size: 2vw;
  background-color: gray;
  width: 29%;
  height: 37vw;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}
.box3_main{
  margin: 12vw auto 12vw auto;
  width: 90%;
  height: 25vw;
  display: flex;
}
.box4_main{
  margin: 12vw auto 12vw auto;
  width: 90%;
  height: 25vw;
  display: flex;
}
/* contact.html */


.contact_line{
  display: block;
  height: 50vw;
  width: 100%;

}
.contact_line_2{
  margin: 10vw auto auto 30vw;
  border-radius: 10px;
  border: solid;
  width: auto;
  height: 60%;
}
.contact_line_QR{
  margin-bottom: 8%;
  width: auto;
  height: 40%;
}

.contact_fb{
  display: block;
  height: 50vw;
  width: 100%;
}
.contact_fb_1{
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  margin-top: 9vw;
  margin-left: 30vw;
  height: 65%;
  width: 23%;
}
.contact_fb_text{
  background-color: white;
  font-size: 2.5vw;
  width: 25%;
  height: 60%;
  margin: -30vw auto auto 55vw ;

}
.box{
  background-color: black;
  display: block;
  width: 200px;
  height: 200px;
}
.boxbox{
  background-color: red;

  display: inline-block;
  width: 200px;
  height: 200px;
}
