/*             all setting        */

 /*               index.html               */

.background_index{
  width: 100%;
  height: 50vw;

}
.block_index{
  width: 90%;
  margin: auto;
  display: flex;
}
.head_index{
  font-size: 4vw;
  margin-top: 7vw;
  color: white;
  text-align: center;
}

.pictureEn_index{
  width: 70%;
  height: 20vw;
  margin: 2vw 7vw 10vw 7vw;
}
.pictureEn_index:hover {
  border-top: 1vw solid white;
  border-bottom: 1vw solid white;
}
/******************** mainmenu **********************/

.box_main{
  width: 100%;
  height: 45vw;
}
.box_main1{
  padding-left: 10vw;
  padding-top: 8vw;
  margin: auto;
  width: 70%;
  display: flex;
}
.picture_main{
  width: 40%;
  border-radius: 50%;
}
.text_main{
  padding-top: 4vw;
  padding-left: 2vw;
  font-size: 2vw;
}
.border_all{
  border-top-color: black;
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 20px;
  width: 30%;
  display: block;
  margin: auto;
}
.personal_head{

  text-align: center;
  margin-top: 3vw;
  width: 100%;
  font-size: 3vw;
  margin-bottom: 2vw;
}
.personal_detail{
  font-size: 2vw;
  width: 50%;
  margin: auto;
}
.block_education{
  display: flex;
  padding: 0.3vw;
  width: 70%;
  margin: auto;
  height: 40%;
}
.picture_educaion{
  width: 30%;
  height: 30%;
}
.text_education{
  font-size: 2vw;
  padding-top: 5vw;
  padding-left: 3vw;
}
.block_volunteer{
  display: flex;
  width: 80%;
  margin: auto;

}
.size_slide{
  width: 50%;
}
.text_volunteer{
  padding: 3vw;
  font-size: 2vw;
}
/* contact.html */


/*     skill.html       */

.htmlcssjs{
  background-image: url(picture/bk_skill.png);
  width: 100%;
  height: 53vw;
}
.htmlcssjs_block{
  padding-top: 10vw;
  padding-left: 5vw;
  margin: auto;
  height: 90%;
}
.htmlcssjs_picture{
  width: 90%;
  height: 80%;
  display: flex;

}
.htmlcssjs_picture_wh{
  width: 33.33%;

}
.python{
  background-color: #28527a;
  width: 100%;
  height: 55vw;
}
.python_center{
  height: 40%;
  width: 90%;
  display: flex;
  margin: auto;
}
.python_logo{
  margin-top: 15vw;
  height: 100%;
  width: 70%;
}
.python_text{
  font-size: 1.7vw;
  border-radius: 5px;
  margin-top: 15vw;
  background-color: white;
  height: 30vw;
  width: 100%;
  padding: 5vw;
}
.font_python{
  text-align:center;
  font-size: 2vw;
  color: white;
  margin-bottom: 3vw;
}
.btn_main{
  display: block;
  padding-left: 12vw;
  padding-right: 5vw;
}
.btn{
  width: 10vw;
  height: 4vw;
}
.C{
  width: 100%;
  height: 50vw;
  background-color: black;
}
.C_picture{
  width: 90%;
  height: 90%;
}
.C_text{
  width: 50%;
  height: 30vw;
  color: yellow;
  margin-top: 10vw;
  font-size: 2vw;
}
.C_center{
  width: 80%;
  margin: auto;
  display: flex;
}
.C_picture_main{
  margin-top: 10vw;
  width: 40%;
}

.whatcan{
  width: 100%;
  height: 50vw;
}
.kawin{
  margin: 6vw auto 3vw auto;
  display: block;
  width: 20%;
}
.whatcan_text{
  font-size: 2.7vw;
  text-align: center;
}
.Mycode_python{
  margin-top: 5vw;
  width: 90%;
}


/*  contact.html  */
.contact_box{
  padding: 4vw;
  background-color: #edffec;
  height: 1800px;
  width: 100%;
  margin: auto;
  display: flex;
}
.contact_box1{

  background-color: white;
  width: 25%;
  height: 100%;

}
.contact_box2{
  border-radius: 10px;
  margin-left: 4vw;
  background-color: white;
  width: 70%;
  height: 100%;
  padding-left: 5vw;
}
.headcontact{
  text-align: center;
  font-size: 4vw;
  padding: 3vw 2vw 0px 2vw;
}
.front_house{
  margin: 0px 1vw 0px 1vw;
}

/*    python.html     */
.show_code{
  margin: auto;
  width: 70%;
  background-color: #edffec;
  height: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.head_code{
  margin-top: 2vw;
  text-align: center;
  font-size: 3vw;
}
.code{


}
.name_code{
  font-size: 1.5vw;
  text-align: center;
}
.displaypython{
  display: block;
  margin: auto;
  width: 90%;
}
